{
  "presets": [
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    ["transform-react-jsx", {"pragma": "createElement"}]
  ]
}
